<div class="form-group">
	<%= f.label :name, "Team Name:" %>
	<%= f.text_field(:name, class: "form-control")%>		  
</div>
<div class="form-group">		
	<%=f.select(:league, [["DHH & apartments", "dhh"], ["East Wads", "ewh"], ["West Wads", "wwh"], ["Off-Campus", "off"], ["Non-Compete", "onc"], ["Womens", "wom"], ["McNair", "mcn"]], class: "form-control") %>
</div>	
<%= f.submit "Create Team",  class: "btn article-btn"%>	
		