<!--TODO: Change to current news article-->
<%provide(:title, "02/11/2016")%>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-3">
		   <div class="list-group">
		   	  <a href="#" class="list-group-item"><h4 class="list-group-item-heading"><u>News</u></h4></a>
			  <!--<a href="#" class="list-group-item active">Blitz - 02/11/2016</a>-->
			  <%@news_articles.each do |article|%>
			  	 <%=link_to article.title, news_article_path(article), html_options = {class: "list-group-item"}%> 
			  <%end%>
		   </div>
		</div>
		<div class="col-xs-9">
			<div class="row">
				<div class="jumbotron">
					<div class="row">
		                <div class="col-lg-9 col-md-8 col-sm-6">
		                	<h1><%=@news_articles[1].title%></h1>
		                </div>                              
		                <div class="col-lg-3 col-md-4 col-sm-6">
		                   <img src="/assets/default_pic.png" class="img-rounded jumbo-pic"/>
		                </div>
					</div>
				</div>
				<div class="well">	
					<%=@news_articles[1].news_body%>
				</div>
			</div>	
		</div>
	</div>
</div>
