.footer-text{
  text-size: 35 px;
  color: $black;
  padding-top: 10px;
}

.footer-icons{
    padding-left: 2px;
    padding-right: 2px;
}

/* Add a gray background color and some padding to the footer */
.footer {
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  height: 50px;
  background-color: $gold;
  border-top: 2px solid $black;
}

.logo{
  padding: 2px;
}
