<!--Partial used for Footer-->
  <footer class="footer">
      <div class="container">
      	<div class="row">
      		<div class="col-xs-6">
	        	<h3 class="text-muted footer-text">Ⓒ Broomball 2016</h3>
	        </div>
	        <div class="col-xs-6">
		        <ul class="nav navbar-nav navbar-right">
		        	<li class="col-xs-4 footer-icons">
		        		<a href="https://twitter.com/irhcbroomball">
		        			<img border="0" alt="Twitter" src="/assets/twitter.png" width="24" height="24">
						</a>
					</li>
		        	<li class="col-xs-4 footer-icons">
		        		<a href="https://www.facebook.com/irhcbroomball">
							<img border="0" alt="Facebook" src="/assets/facebook.png" width="24" height="24">
						</a>
					</li>
		        	<li class="col-xs-4 footer-icons">
		        		<a href="https://twitter.com/irhcbroomball">
							<img border="0" alt="Flickr" src="/assets/flickr.png" width="24" height="24">	
						</a>
					</li>	
		        </ul>
	        </div>
        </div>
      </div>
  </footer>

