<div class="panel panel-default">
	<div class="panel-heading article-title">Edit Player on Team</div>
	<div class="panel-body">
		<%= render 'form', player_team: @player_team %>
	</div>
</div>


<%= link_to 'Show', @player_team %> |
<%= link_to 'Back', player_teams_path %>
