<div class="panel panel-default">
	<div class="panel-heading article-title">Add Player to </div>
	<div class="panel-body">
		<%= render 'form', player_team: @player_team %>
	</div>
</div>

<%= link_to 'Back', player_teams_path %>
