<div class="panel panel-default">
	<div class="panel-heading article-title">Edit Rink Slot</div>
	<div class="panel-body">
		<%= render 'form', rink_slot: @rink_slot  %>
	</div>
</div>

<%= link_to 'Show', @rink_slot %> |
<%= link_to 'Back', rink_slots_path %>
