<!--TODO: Change to current news article-->
<%provide(:title, "02/11/2016")%>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-3">
		   <div class="list-group">
		   	  <a href="#" class="list-group-item"><h4 class="list-group-item-heading"><u>News</u></h4></a>
			  <a href="#" class="list-group-item active">Blitz - 02/11/2016</a>
			  <%14.times do%>
			  	<a href="#" class="list-group-item">Blitz - 02/11/2016</a>
			  <%end%>
		   </div>
		</div>
		<div class="col-xs-9">
			<div class="row">
				<div class="jumbotron">
					<div class="row">
		                <div class="col-lg-9 col-md-8 col-sm-6">
		                	<h1>Long News Title Here</h1>
		                </div>                              
		                <div class="col-lg-3 col-md-4 col-sm-6">
		                   <img src="/assets/carousel2.jpg" class="img-rounded jumbo-pic"/>
		                </div>
					</div>
				</div>
				<div class="well">	
					This is where the body of the news article will go.
				</div>
			</div>	
		</div>
	</div>
</div>
