<div class="panel panel-default">
	<div class="panel-heading article-title">Schedule Games</div>
	<div class="panel-body">
		

		<%= form_tag schedulegames_path, multipart: true do %>
			<%= submit_tag "Schedule" %>
		<% end %>
	</div>
</div>
