<%provide(:title, "Committee Pages")%>
<div class="container-fluid text-center">
	<div class="row">
		<div class="col-xs-6">
			<!--Chair panel-->
			<div class="row" id="left">
				<div class="panel panel-default">
					<div class="panel-heading">Chair</div>
	  				<div class="panel-body">
	  					<div class="list-group">
	  						<a href="#" class="list-group-item">Add/Modify Committee Members</a>
			   			</div>
	  				</div>
				</div>
			</div>
			<div class="row" id="left">
			<!--Vice chair panel-->
				<div class="panel panel-default">
					<div class="panel-heading">Vice Chair</div>
	  				<div class="panel-body">
	  					<a href="#" class="list-group-item">View Judicials</a>
	  					<a href="#" class="list-group-item">View Reschdule Requests</a>
	  				</div>
				</div>
			</div>
			<div class="row" id="left">
				<!--Referee Manager panel-->
				<div class="panel panel-default">
					<div class="panel-heading">Referee Manager</div>
	  				<div class="panel-body">
	  					<div class="list-group">
	  						<a href="#" class="list-group-item">Edit Referee Schedule</a>
			   				<a href="#" class="list-group-item">Referee Contact List</a>

			   			</div>
	  				</div>
				</div>
			</div>
			<div class="row" id="left">
				<!--Rink Manager panel-->
				<div class="panel panel-default">
					<div class="panel-heading">Rink Manager</div>
	  				<div class="panel-body">
	  					<div class="list-group">
			   				<a href="#" class="list-group-item">View Rink Staff Contact List</a>
			   			</div>
	  				</div>
				</div>
			</div>
			<div class="row" id="left">
				<!--Web Developer panel-->
				<div class="panel panel-default">
					<div class="panel-heading">Web Developer</div>
	  				<div class="panel-body">
	  					<div class="list-group">
			   				<%= link_to "Residency Import", residencyindex_path(), class:"list-group-item" %>
			   			</div>
	  				</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
				<div class="row" id="right">
				<!--Public Relations panel-->
				<div class="panel panel-default">
					<div class="panel-heading">Public Relations</div>
	  				<div class="panel-body">
	  					<div class="list-group">
								<%= link_to "Change Carousel Items", carousel_pictures_path, class: "list-group-item" %>
			   				<a href="#" class="list-group-item">Change Front Page Thumbnails</a>
			   				<%=link_to "Create News Article", new_news_article_path, class:"list-group-item"%>
			   			</div>
	  				</div>
				</div>
			</div>
			<div class="row" id="right">
				<!--Treasurer panel-->
				<div class="panel panel-default">
					<div class="panel-heading">Treasurer</div>
	  				<div class="panel-body">
	  					<div class="list-group">
	  						<a href="#" class="list-group-item">View Invoices</a>
			   			</div>
	  				</div>
				</div>
			</div>
			<div class="row" id="right">
				<!--Special tasks panel-->
				<div class="panel panel-default">
					<div class="panel-heading">Special Tasks</div>
	  				<div class="panel-body">
	  					<div class="list-group">
			   				<a href="#" class="list-group-item">Cocoa Shack Contact List</a>
			   			</div>
	  				</div>
				</div>
			</div>
			<div class="row" id="right">
				<!--General Committee Member panel-->
				<div class="panel panel-default">
					<div class="panel-heading">General Committee Member</div>
	  				<div class="panel-body">
	  					<div class="list-group">
	  						<a href="#" class="list-group-item">Change Office Hours</a>
			   				<a href="#" class="list-group-item">Enter Game Sheets</a>
			   				<a href="#" class="list-group-item">Add player/staff</a>
			   			</div>
	  				</div>
				</div>
			</div>
		</div>
	</div>
</div>
