<div class="panel panel-default">
	<div class="panel-heading article-title">Edit Player</div>
	<div class="panel-body">
		<%= render 'form', player: @player %>
	</div>
</div>

<%= link_to 'Show', @player %> |
<%= link_to 'Back', players_path %>
