<!--This page will be used to list players-->

<div class="container-fluid table-responsive">
	<h2 class="table-title"><span>Team Name</span></h2>
	<table class="table table-hover active">
		<thead>
    		<tr>
		      <th>Player Name</th>
		      <th>Nick Name</th>
		      <th>Position</th>
		      <th>Goals</th>
		      <th>Assists</th>
		      <th>Points</th>
    		</tr>
  		</thead>
  		<tbody>
  			<%10.times do%>
			<tr>
				<td>Nick Fisher</td>
				<td>Fish</td>
				<td>Left Wing</td>
				<td>23</td>
				<td>9</td>
				<td>32</td>
			</tr>
			<%end%>
		</tbody>
	</table>
</div>
