
<%provide(:title, "Nick Fisher")%>

<div class="container-fluid table-responsive">
	<div class="row">
		<div class="col-xs-4 profile-pic">
			<img src="/assets/profile_pictures/nafisher/profile_test.jpg" class="img-responsive img-circle" alt="">
			<!--TODO: Hide button if not current user and remove opacity-->
			<!--TODO: Create Modal for changing pic-->
			<button class="btn btn-xs pic-btn">Change <span class="glyphicon glyphicon-pencil"></span></button>
		</div>
		<div class="col-xs-8">
			<div class="panel panel-default">
				<!--TODO: Remove edit button if not current user-->
				<!--TODO: Create Modal for editing profile info-->
				<div class="panel-heading">Nick Fisher <button class="btn btn-xs edit-btn">Edit <span class="glyphicon glyphicon-pencil"></span></button> </div>
  				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6" id="desc-col">
							<b>Nickname:</b> <span>Fish</span><br>
							<b>Major:</b> <span>Computer Engineering</span> <br>
							<b>Hometown:</b> <span>Traverse City, MI</span><br>
							<b>Position:</b> <span>Forward</span><br>
							<b>Height:</b> <span>5'10"</span><br>
							<b>Weight:</b> <span>180 lbs.</span><br>
							<b>Years played:</b> <span>3</span><br>
						</div>

						<div class="col-xs-6">
							<h5>Player Description:</h5>
						I am the best player that broomball has ever encountered in all the history that it has been around.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h2 class="table-title"><span>Teams & Statistics</span></h2>
	<table class="table table-hover active">
		<thead>
    		<tr>
		      <th>Season</th>
		      <th>Team</th>
		      <th>Goals</th>
		      <th>Assists</th>
		      <th>Penalty Minutes</th>
		      <th>Saves</th>
		      <th>Goalie Minutes</th>
		      <th>Goals Against</th>
    		</tr>
  		</thead>
  		<tbody>
			<tr>
				<td>2016</td>
				<td><a href="#">Hash Slinging Slashers</a></td>
				<td>25</td>
				<td>24</td>
				<td>30</td>
				<td>900</td>
				<td>4</td>
				<td>0</td>
			</tr>
			<tr>
				<td>2016</td>
				<td><a href="#">Sheep Sheerers</a></td>
				<td>25</td>
				<td>24</td>
				<td>30</td>
				<td>900</td>
				<td>4</td>
				<td>0</td>
			</tr>
			<tr>
				<td>2016</td>
				<td>All</td>
				<td>50</td>
				<td>48</td>
				<td>60</td>
				<td>1800</td>
				<td>8</td>
				<td>0</td>
			</tr>
			<tr>
				<td><b>Total</b></td>
				<td>--</td>
				<td>50</td>
				<td>48</td>
				<td>60</td>
				<td>1800</td>
				<td>8</td>
				<td>0</td>
			</tr>
		</tbody>
	</table>
</div>
