<div class="panel panel-default">
	<div class="panel-heading article-title">Edit Carousel Picture</div>
	<div class="panel-body">
		<%= render 'form', carousel_picture: @carousel_picture %>
	</div>
</div>

<%= link_to 'Show', @carousel_picture %> |
<%= link_to 'Back', carousel_pictures_path %>
