// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail {
    margin-right: 2px;
    margin-left: 2px;
    border: 2px solid $gold;
    background-color: transparent;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
