// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail {
    margin-right: 2px;
    margin-left: 2px;
    border: 2px solid $black;
    background-color: $gold;
    border-radius: 10px;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    border: 2px solid $black;
    margin-bottom: 10px;
    border-radius: 10px;
}

.thumbnail:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, 1);
}

.table-title{
  color: $gold;
  text-align: center;
  text-decoration: underline;
}

.jumbotron{
  background-color: $gold;
  border: 2px solid $black;
  padding-top: 24px;
  padding-bottom: 24px;
}
.jumbotron > .row > div > h1{
  font-size: 55px;
}

.jumbo-pic{
  border: 2px solid $black;
  max-height: 100%;
  max-width: 100%;
  //border-collapse:separate;
}

.well{
  background-color: $gold;
  border: 2px solid $black;
}

.list-group > a > h4{
  text-align: center;
  margin-bottom: 0px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: $gold;
  border: 2px solid $black;
  text-align: center;
}

/* line 46, /home/nick/.rvm/gems/ruby-2.3.0@website2016/gems/bootstrap-sass-3.3.6/assets/stylesheets/bootstrap/_list-group.scss */
a.list-group-item,
button.list-group-item {
  color: $black;
}
/* line 50, /home/nick/.rvm/gems/ruby-2.3.0@website2016/gems/bootstrap-sass-3.3.6/assets/stylesheets/bootstrap/_list-group.scss */
a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading {
  color: $black;
}
/* line 55, /home/nick/.rvm/gems/ruby-2.3.0@website2016/gems/bootstrap-sass-3.3.6/assets/stylesheets/bootstrap/_list-group.scss */
a.list-group-item:hover, a.list-group-item:focus,
button.list-group-item:hover,
button.list-group-item:focus {
  text-decoration: none;
  color: $black;
  background-color: #f7efc7;
}

/* line 63, /home/nick/.rvm/gems/ruby-2.3.0@website2016/gems/bootstrap-sass-3.3.6/assets/stylesheets/bootstrap/_list-group.scss */
button.list-group-item {
  width: 100%;
  text-align: left;
}

/* line 87, /home/nick/.rvm/gems/ruby-2.3.0@website2016/gems/bootstrap-sass-3.3.6/assets/stylesheets/bootstrap/_list-group.scss */
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index: 2;
  color: $black;
  background-color: #f7efc7;
  border: 2px solid $black;
}
/* line 96, /home/nick/.rvm/gems/ruby-2.3.0@website2016/gems/bootstrap-sass-3.3.6/assets/stylesheets/bootstrap/_list-group.scss */
.list-group-item.active .list-group-item-heading,
.list-group-item.active .list-group-item-heading > small,
.list-group-item.active .list-group-item-heading > .small, .list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading > small,
.list-group-item.active:hover .list-group-item-heading > .small, .list-group-item.active:focus .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading > small,
.list-group-item.active:focus .list-group-item-heading > .small {
  color: inherit;
}
/* line 101, /home/nick/.rvm/gems/ruby-2.3.0@website2016/gems/bootstrap-sass-3.3.6/assets/stylesheets/bootstrap/_list-group.scss */
.list-group-item.active .list-group-item-text, .list-group-item.active:hover .list-group-item-text, .list-group-item.active:focus .list-group-item-text {
  color: #c7ddef;
}