// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-pic > img{
  min-width: 100%;
  min-height: 100%;
  border: 2px solid $gold;
}

.profile-pic > img:hover{
  opacity: 0.7;
}

.profile-pic > img:hover + .pic-btn{
  display: block;
}

.pic-btn:hover{
  display: block;
  color: white;
}


.pic-btn{
  display:none;
  position: absolute;
  margin-left: -35px;
  margin-top: -11px;
  left: 50%;
  top: 50%;
}

//Player-specific panel (that is why these are not in the panel.scss file)
.edit-btn{
  float: right;
  border: 1px solid $gold;
}

.col-xs-6 > span{
  float: right;
}

.col-xs-6 > h5{
  text-align: center;
  font-weight: bold;
}

.desc{
  word-wrap: break-word;
}
