// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#team{
  font-size: 70px;
  text-align: center;
  word-wrap: break-word;
}
